/* */
:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #B2A4FF;
    --bg-color-2: #FFC9E1;
    --accent-color: #FFDEB4;
    --text-color: #FDF7C3;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* */
body {
    background-color: var(--bg-color);
}
/*  */
header {
    display:flex;
    padding: 20px;
    font-family: var(--font-family);
    color: var(--text-color);
    justify-content: space-between;
}
/* */
h1 {
    display: flex;
    padding-right: 500px;
    font-size: 200%;
}

h2 {
    font-size: 225%;
    text-decoration: underline;
}
h3 {
    align-items: center;
    padding: 0px;
    font-family: var(--font-family);
    color: var(--text-color);
}
/*  */
nav {
    padding-top: 15px;
    justify-content: flex-end;
    font-family: var(--font-family);
    font-size: 20px;
}
/*  */
nav ul li {
    display:inline-block;
    margin-left: 25px;
}
/* */
nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--text-color);
    margin-right: 10px;
    font-size: 1.4rem;
}
/* */
p {
    font-size: 18px;
}
div {
    background-color: var(--bg-color-2);
}

article {
    line-height: 1.5;
    border: 10px;
    border-bottom: solid 5px;
    border-color: var(--bg-color-2);
    padding: 25px;
    color: var(--text-color);
}

.webpage {
    display:  flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;;
}

.webpage a {
    display:flex;
    justify-content: center;
    margin: 5px;
}

.webpage img {
    border: solid 10px;
    border-color: var(--bg-color-2)
}
.webpage img:hover {
    border: double 15px;
    border-color: var(--accent-color)
    
}

#contact-me ul {
    padding-top: 15px;;
    display: flex;
    justify-content: space-evenly;
    font-family: var(--font-family);
    font-size: 24px;

}


#contact-me ul li a {
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--text-color);
}

@media screen and (max-width: 1521px) {
    body {
        display: flex;
        flex-direction: column;
    }
    h1 {
        align-items: center;
        justify-content: center;
    }

    nav ul li a{
        display:flex;
        text-decoration: underline;
     }
}

@media screen and (max-width: 1043px) {
    * {
        box-sizing: border-box;
    }
    body {
        display:flex;

    
    }
   
}


@media screen and (max-width: 768px) {
    * {
        box-sizing: border-box;
    }
    body {
        display:flex;
        flex-direction: column;

    
    }
    nav {
        justify-content: flex-end;
        width: 60%;
        padding-top: 0px;
        padding-left:230px;
        margin: 0;
    }
    nav ul li a{
       text-decoration: underline;
    }
    
    header {
        justify-content: space-between;
        
    }
    h1 {
        padding-right:10%;

    }
    h3 {
        justify-content: flex-start;

    }
    main {
        flex: 1;
    }
}