/* sets global style of html webpage, specifically the box sizing, paddings and margin to border-box and '0' */
:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #B2A4FF;
    --bg-color-2: #FFC9E1;
    --accent-color: #FFDEB4;
    --text-color: #FDF7C3;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* sets the background color of the entire body of html webpage to #d9dcd6 */
body {
    background-color: #d9dcd6;
}
/* sets top header background color, font, padding and color of text */
header {
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}
/* sets the h1 header 'Hori' and 'n' display and font size*/
header h1 {
    display: inline-block;
    font-size: 200%;

}
/* styles our 3 html buttons in our header to have padding & margins. Sets for content to appear on right side of webpage with a different font then h1 text */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* styles header list items from vertically stacking list to side by side "left to right" reading perspective */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* sets <a> link elements in header section color to white and no text-decor. Without this code buttons would appear purple with underline.*/
nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
  }
/* sets the font size of our body text to 16px */
p {
    font-size: 16px;
}
div {
    padding: 20px;
    background-color: var(--bg-color-2);

}

h2 {
    font-size: 225%;
}

article {
    border-bottom: solid 5px;
    border-color: var(--bg-color-2);
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}